@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  font-family: Baskerville, Georgia, serif;
  background-color: #fffff3;
  color: #566270; }

.dark {
  background-color: #566270;
  color: #fffff3; }

::selection {
  background-color: #c8b8ff;
  color: #566270; }

h2 {
  font-weight: 400;
  font-family: 'Lato';
  font-size: 2rem;
  color: #fffff3;
  text-transform: uppercase;
  letter-spacing: 5px;
  animation: fadeIn 2s forwards;
  animation-delay: 2.5s;
  opacity: 0; }
  @media only screen and (max-width: 37.5em) {
    h2 {
      font-size: 1.3rem; } }

h3 {
  font-family: 'Wire One', sans-serif;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 3px;
  transition: all 0.4s;
  animation-delay: 0.3s;
  text-shadow: 0 1rem 0.5rem rgba(0, 0, 0, 0.1); }
  h3::after {
    content: '';
    background: #695b94;
    height: 4px;
    width: 7rem;
    display: block;
    margin-top: 3rem;
    position: absolute;
    left: calc(50% - 7rem / 2);
    animation: slide-in-right 0.5s forwards;
    animation-delay: 2s;
    opacity: 0; }
    @media only screen and (max-width: 56.25em) {
      h3::after {
        margin-top: 2rem; } }
  h3.dark::after {
    background: #c8b8ff; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-big {
  margin-top: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-big {
      margin-top: 5rem; } }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-small {
  margin-top: 2rem; }

@keyframes slide-in-right {
  0% {
    transform: translateX(-300px);
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slide-in-left {
  0% {
    transform: translateX(300px);
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slideFadeIn {
  0% {
    transform: translateY(100px); }
  75% {
    opacity: 0.5;
    transform: translateY(0); }
  100% {
    opacity: 1; } }

.btn {
  font-size: 2.2rem;
  font-family: 'Wire One', sans-serif;
  font-weight: bolder;
  letter-spacing: 3px;
  text-decoration: none;
  box-sizing: border-box;
  color: #695b94;
  background: linear-gradient(104deg, rgba(165, 147, 224, 0) 0.9%, #a593e0 2.4%, rgba(165, 147, 224, 0.5) 5.8%, rgba(165, 147, 224, 0.1) 93%, rgba(165, 147, 224, 0.7) 96%, rgba(165, 147, 224, 0) 98%), linear-gradient(183deg, rgba(165, 147, 224, 0) 0%, rgba(165, 147, 224, 0.3) 7.9%, rgba(165, 147, 224, 0) 15%);
  padding: 1em 1.5rem;
  margin: 0;
  border-radius: 7.5px;
  text-shadow: -12px 12px 9.8px rgba(165, 147, 224, 0.7);
  transition: all 0.2s; }
  .btn:link, .btn:visited, .btn:active, .btn:hover {
    text-decoration: none; }
  .btn:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
  @media only screen and (max-width: 37.5em) {
    .btn {
      font-size: 1.5rem; } }
  .btn.dark {
    color: #e0e3da;
    background: linear-gradient(104deg, rgba(200, 184, 255, 0) 3.9%, #c8b8ff 5.4%, rgba(200, 184, 255, 0.5) 8.8%, rgba(200, 184, 255, 0.4) 97%, rgba(200, 184, 255, 0.7) 98%, rgba(200, 184, 255, 0) 98%), linear-gradient(183deg, rgba(200, 184, 255, 0) 4%, rgba(200, 184, 255, 0.3) 10.9%, rgba(200, 184, 255, 0) 19%); }

.introduction {
  grid-column: center-start / center-end;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .introduction__text {
    padding: 4rem 2rem;
    font-size: 2rem;
    line-height: 4rem;
    font-weight: 400;
    text-align: center;
    font-style: italic;
    width: 70%; }
    @media only screen and (max-width: 56.25em) {
      .introduction__text {
        padding: 3rem 1rem;
        width: 80%; } }
    @media only screen and (max-width: 43.75em) {
      .introduction__text {
        padding: 2rem 0;
        width: 100%; } }
  .introduction__button {
    text-align: center;
    padding: 5rem; }
    @media only screen and (max-width: 28.125em) {
      .introduction__button {
        padding: 3rem; } }
    @media only screen and (max-width: 28.125em) {
      .introduction__button {
        padding: 2rem; } }

.skills {
  grid-column: center-start / center-end;
  grid-row: 4 / 5; }
  .skills__content {
    display: flex; }
    @media only screen and (max-width: 56.25em) {
      .skills__content {
        flex-direction: column; } }
  .skills__box {
    width: 66%;
    margin-right: 5rem; }
    @media only screen and (max-width: 68.75em) {
      .skills__box {
        margin-right: 2rem; } }
    @media only screen and (max-width: 56.25em) {
      .skills__box {
        width: 100%;
        margin-right: 0; } }
  .skills__bar {
    width: 90%;
    height: 5rem;
    position: relative;
    margin: 2rem auto;
    border-radius: 0.5rem; }
  .skills__area {
    width: 0;
    height: 5rem;
    position: absolute;
    border-radius: 0.5rem; }
  .skills__label {
    z-index: 1;
    float: left;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    text-shadow: 2px 2px 0px black;
    color: #fff;
    font-size: 1.8rem; }
    @media only screen and (max-width: 68.75em) {
      .skills__label {
        font-size: 1.4rem;
        margin-left: 1rem; } }
  .skills__practice {
    padding: 3rem;
    margin: 3rem;
    text-align: center;
    align-self: center;
    background: #ffc;
    color: #566270;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    transform: rotate(-6deg); }
    @media only screen and (max-width: 68.75em) {
      .skills__practice {
        margin: 2rem; } }
  .skills__title {
    padding-top: 3rem;
    font-size: 2.5rem;
    font-family: 'Wire One', sans-serif;
    font-weight: 600;
    letter-spacing: 3px; }
  .skills__list {
    list-style: none; }
  .skills__item {
    font-size: 1.5rem;
    font-weight: 200;
    font-style: italic; }
    .skills__item:not(:last-of-type) {
      margin-bottom: 1rem; }

.gallery {
  grid-column: full-start / full-end;
  grid-row: 6 / 7; }
  .gallery__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 15vw);
    grid-gap: 1.5rem;
    padding: 1.5rem;
    position: relative; }
    @media only screen and (max-width: 37.5em), (hover: none) {
      .gallery__content {
        grid-template-columns: repeat(auto-fit, minmax(55rem, 1fr));
        grid-template-rows: none;
        grid-auto-rows: 80vw;
        grid-gap: 0.5rem;
        padding: 0.5rem; } }
    @media only screen and (max-width: 28.125em), (hover: none) {
      .gallery__content {
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr)); } }
  .gallery__item {
    perspective: 1500px;
    position: relative; }
    @media only screen and (min-width: 37.5em) and (hover: hover) {
      .gallery__item:nth-child(1) {
        grid-row: 1 / 2;
        grid-column: 1 / span 2; }
      .gallery__item:nth-child(2) {
        grid-row: 1 / span 2;
        grid-column: 4 / span 2; }
      .gallery__item:nth-child(3) {
        grid-row: 1 / span 2;
        grid-column: 6 / 7; }
      .gallery__item:nth-child(4) {
        grid-row: 2 / span 2;
        grid-column: 1 / span 2; }
      .gallery__item:nth-child(5) {
        grid-row: 3 / span 2;
        grid-column: 3 / span 2; }
      .gallery__item:nth-child(6) {
        grid-row: 3 / 4;
        grid-column: 5 / span 2; }
      .gallery__item:nth-child(7) {
        grid-row: 1 / span 2;
        grid-column: 3 / 4; }
      .gallery__item:nth-child(8) {
        grid-row: 4 / 5;
        grid-column: 2 / 3; }
      .gallery__item:nth-child(9) {
        grid-row: 5 / 6;
        grid-column: 2 / span 2; }
      .gallery__item:nth-child(10) {
        grid-row: 4 / span 2;
        grid-column: 1 / 2; }
      .gallery__item:nth-child(11) {
        grid-row: 4 / span 2;
        grid-column: 5 / span 2; }
      .gallery__item:nth-child(12) {
        grid-row: 5 / 6;
        grid-column: 4 / 5; }
      .gallery__item:hover > .gallery__photo {
        visibility: hidden;
        opacity: 0;
        transform: rotateY(-180deg); }
      .gallery__item:hover > figcaption {
        opacity: 1;
        visibility: visible;
        transform: rotateY(0); } }
    .gallery__item figcaption {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      transform: rotateY(180deg);
      width: 100%;
      height: 100%;
      border-radius: 5px;
      transition: all 0.5s;
      background-color: #695b94;
      color: #fffff3;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.8rem;
      font-style: italic;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3rem;
      box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3); }
      @media only screen and (max-width: 68.75em) {
        .gallery__item figcaption {
          font-size: 1.4rem; } }
      @media only screen and (max-width: 56.25em) {
        .gallery__item figcaption {
          font-size: 1.2rem; } }
      @media only screen and (max-width: 37.5em), (hover: none) {
        .gallery__item figcaption {
          transform: none;
          top: auto;
          bottom: 0;
          height: 20%;
          width: 50%;
          opacity: 1;
          visibility: visible;
          color: #fff;
          background-color: rgba(105, 91, 148, 0.9);
          font-size: 1.5rem; } }
  .gallery__photo {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
    transition: all 0.5s;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0; }

.summary {
  grid-column: center-start / center-end;
  grid-row: 7 / 8;
  justify-self: center; }
  .summary__content {
    padding: 3rem;
    font-size: 2rem;
    line-height: 4rem;
    font-weight: 400;
    font-style: italic; }
    @media only screen and (max-width: 56.25em) {
      .summary__content {
        font-size: 1.5rem;
        padding: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .summary__content {
        padding: 0.5rem; } }
  .summary__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: #695b94;
    margin-right: 2rem; }
    .summary__icon.dark {
      fill: #c8b8ff; }
  .summary li {
    position: relative;
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    opacity: 0;
    animation-fill-mode: both; }
    .summary li:not(:last-of-type) {
      margin-bottom: 3rem; }
  .summary .animate {
    animation: slideFadeIn 0.5s linear forwards; }
  .summary li:nth-child(1) {
    animation-delay: 0.4s; }
  .summary li:nth-child(2) {
    animation-delay: 0.8s; }
  .summary li:nth-child(3) {
    animation-delay: 1.2s; }
  .summary li:nth-child(4) {
    animation-delay: 1.6s; }

.quote {
  grid-column: full-start / full-end;
  grid-row: 2 / 3; }
  .quote--2 {
    background-color: #695b94;
    grid-row: 5 / 6;
    padding-bottom: 10rem; }
  .quote__text {
    margin: 2rem auto;
    padding: 2rem;
    position: relative;
    width: 40rem; }
  .quote__text p {
    margin: 0;
    padding: 0; }
  .quote__text blockquote {
    margin: 0;
    padding: 0;
    position: relative; }
  .quote__style blockquote {
    padding-top: 15rem; }
  .quote__style blockquote:after {
    background: none repeat scroll 0 0 rgba(105, 91, 148, 0.8);
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.5);
    content: '❞';
    font-family: 'icons';
    font-size: 7rem;
    height: 13rem;
    left: 50%;
    line-height: 13rem;
    margin-left: calc(-13rem / 2);
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
    top: 0;
    width: 130px; }
  .quote__style.dark blockquote:after {
    background: none repeat scroll 0 0 rgba(200, 184, 255, 0.8);
    color: #566270; }
  .quote__style--2 blockquote:after {
    background: none repeat scroll 0 0 rgba(255, 255, 243, 0.8);
    color: rgba(105, 91, 148, 0.8);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  .quote__style blockquote:before {
    border-left: 5px solid rgba(165, 147, 224, 0.2);
    border-radius: 50%;
    content: '';
    height: 50rem;
    left: -5rem;
    position: absolute;
    top: 0;
    width: 50rem; }
    @media only screen and (max-width: 37.5em) {
      .quote__style blockquote:before {
        width: 43rem; } }
  .quote__style--2 blockquote:before {
    border-right: 5px solid rgba(255, 255, 255, 0.2);
    border-left: none;
    right: -5rem;
    z-index: 1;
    height: 40rem; }
  .quote__style blockquote p {
    box-shadow: 0 -6px 0 rgba(165, 147, 224, 0.2);
    color: rgba(105, 91, 148, 0.8);
    display: inline;
    font-family: Baskerville, Georgia, serif;
    font-style: italic;
    font-size: 2.8rem;
    line-height: 4.6rem;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    margin-bottom: 2rem; }
  .quote__style.dark blockquote p {
    box-shadow: 0 -6px 0 rgba(200, 184, 255, 0.2);
    color: rgba(200, 184, 255, 0.8); }
  .quote__style--2 blockquote p {
    box-shadow: 0 -6px 0 rgba(224, 227, 218, 0.2);
    color: rgba(255, 255, 243, 0.8);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }
  .quote__author {
    color: #695b94;
    font-size: 1.8rem;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    padding-top: 3rem;
    text-align: right; }
    .quote__author.dark {
      color: #c8b8ff; }

.selector {
  width: 110px;
  height: 50px;
  position: fixed;
  top: 0;
  right: 5%;
  border-radius: 0 0 1rem 1rem;
  background-color: #a593e0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10; }
  .selector__checkbox {
    position: relative;
    width: 90px;
    height: 30px;
    appearance: none;
    transition: background-image 1s ease-in-out;
    background-image: linear-gradient(rgba(22, 24, 79, 0.6), rgba(10, 14, 125, 0.6)), url("../img/selector.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    box-shadow: inset 0px 0px 2px rgba(255, 255, 255, 0.7);
    outline: none;
    cursor: pointer;
    overflow: hidden; }
    .selector__checkbox:checked {
      background-image: url("../img/selector.jpg");
      transition: background-image 0.5s ease-in-out; }
      .selector__checkbox:checked:after {
        animation: on 0.5s forwards;
        box-shadow: inset -5px -5px 4px rgba(53, 53, 53, 0.3); }
      .selector__checkbox:checked:before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        left: 15px;
        top: 2px;
        transform-origin: 33px 10px;
        background-color: transparent;
        box-shadow: 3px -1px 0px #fff;
        filter: blur(0px);
        animation: sun 0.4s forwards ease; }
    .selector__checkbox:after {
      content: '';
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      left: 2px;
      top: 2px;
      transform: translateX(0px);
      animation: off 0.5s forwards;
      box-shadow: inset 5px -5px 4px rgba(53, 53, 53, 0.3); }
    .selector__checkbox:before {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      left: 15px;
      top: 2px;
      background-color: #f5daaa;
      box-shadow: 0px 0px 10px #f5deb4, 0px 0px 20px #f5deb4, 0px 0px 30px #f5deb4, inset 0px 0px 2px #efd3a3;
      transform-origin: 35px 10px;
      animation: moon 0.4s forwards ease; }

@keyframes moon {
  0% {
    transform: rotate(0deg); }
  50% {
    background-color: transparent;
    box-shadow: 3px -1px 0px #fff; }
  100% {
    transform: rotate(170deg);
    background-color: transparent;
    box-shadow: 3px -1px 0px #fff; } }

@keyframes sun {
  0% {
    transform: rotate(170deg);
    background-color: transparent;
    box-shadow: 3px -1px 0px #fff; }
  50% {
    background-color: #f5daaa;
    box-shadow: 0px 0px 10px #f5deb4, 0px 0px 20px #f5deb4, 0px 0px 30px #f5deb4, inset 0px 0px 2px #efd3a3; }
  100% {
    transform: rotate(0deg);
    background-color: #f5daaa;
    box-shadow: 0px 0px 10px #f5deb4, 0px 0px 20px #f5deb4, 0px 0px 30px #f5deb4, inset 0px 0px 2px #efd3a3; } }

@keyframes on {
  0% {
    transform: translateX(0px); }
  100% {
    transform: translateX(60px); } }

@keyframes off {
  0% {
    transform: translateX(60px); }
  100% {
    transform: translateX(0px); } }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(7, minmax(min-content, max-content));
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, max-content) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-gap: 2rem; }

.header {
  grid-column: full-start / full-end;
  grid-row: 1 / 2;
  background-color: #695b94;
  display: flex;
  align-items: stretch; }
  .header__photo {
    width: 33%; }
  .header__img {
    width: 100%;
    object-fit: cover;
    height: 100%; }
  .header__text {
    padding: 10rem;
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; }
  .header__title {
    position: relative;
    display: inline-block; }
    .header__title .block {
      width: 100%;
      height: 100%;
      background: #c8b8ff;
      position: absolute;
      animation: block 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
      display: flex;
      left: 0; }
    .header__title h1 {
      font-family: 'Poppins';
      font-size: 5rem;
      color: #e0e3da;
      animation: fadeIn 2s forwards;
      animation-delay: 1.6s;
      opacity: 0;
      display: flex;
      align-items: baseline;
      position: relative; }
      @media only screen and (max-width: 68.75em) {
        .header__title h1 {
          font-size: 4.5rem; } }
      @media only screen and (max-width: 43.75em) {
        .header__title h1 {
          font-size: 3.6rem; } }
  .header__scroll {
    content: '\ud1d3';
    width: 0;
    height: 0;
    border-left: 10px solid #695b94;
    border-right: 10px solid #695b94;
    border-top: 10px solid #c8b8ff;
    position: absolute;
    bottom: 3rem;
    left: calc(50% - 10px / 2);
    background-color: #c8b8ff;
    animation: scrollDown 1.5s infinite;
    animation-delay: 3s;
    opacity: 0; }

@keyframes block {
  0% {
    transform-origin: 0 0;
    transform: scaleX(0) translateX(0); }
  50% {
    transform-origin: 0 0;
    transform: scaleX(1) translateX(0); }
  100% {
    transform-origin: 100% 0;
    transform: scaleX(0) translateX(100%); } }

@keyframes scrollDown {
  0% {
    opacity: 0.4;
    transform: translateY(0); }
  50% {
    opacity: 1;
    transform: translateY(5px); }
  50% {
    opacity: 0.3;
    transform: translateY(10px); } }

.footer {
  background-color: #695b94;
  grid-column: full-start / full-end;
  grid-row: -2 / -1;
  height: 30vh;
  padding: 5rem;
  position: relative;
  color: #fffff3; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .footer {
      clip-path: polygon(0 0, 50% 20vh, 100% 0, 100% 100%, 0 100%);
      padding-top: 30vh;
      height: 45vh; } }
  .footer__nav {
    display: flex;
    justify-content: center; }
  .footer__item {
    list-style: none;
    font-size: 1.8rem; }
    .footer__item:not(:last-of-type) {
      margin-right: 3rem; }
  .footer__link {
    text-decoration: none;
    padding: 2rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3);
    border-radius: 50%; }
    .footer__link:link, .footer__link:visited {
      color: currentColor; }
    .footer__link:hover, .footer__link:active {
      color: #566270;
      background-color: #c8b8ff; }
    .footer__link .fa {
      transition: all 0.5s ease-in-out; }
    .footer__link:hover .fa {
      transform: rotate(360deg); }
  .footer__copyright {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    font-size: 1.3rem;
    text-align: right;
    padding: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__copyright {
        padding: 1rem; } }
