.footer {
    background-color: $color-primary-dark;
    grid-column: full-start / full-end;
    grid-row: -2 / -1;

    height: 30vh;
    padding: 5rem;

    position: relative;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        clip-path: polygon(0 0, 50% 20vh, 100% 0, 100% 100%, 0 100%);
        padding-top: 30vh;
        height: 45vh;
    }

    color: $color-tertiary;

    &__nav {
        display: flex;
        justify-content: center;
    }

    &__item {
        list-style: none;
        font-size: 1.8rem;

        &:not(:last-of-type) {
            margin-right: 3rem;
        }
    }

    &__link {
        text-decoration: none;
        box-shadow: $shadow-dark;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:link,
        &:visited {
            color: currentColor;
        }

        &:hover,
        &:active {
            color: $color-quaternary;
            background-color: $color-primary-light;
        }

        //HOVER ANIMATION
        .fa {
            transition: all 0.5s ease-in-out;
        }

        &:hover .fa {
            transform: rotate(360deg);
        }
    }
    &__copyright {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        font-size: 1.3rem;
        text-align: right;
        padding: 2rem;
        @media only screen and (max-width: $breakpoint-smallest) {
            padding: 1rem;
        }
    }
}
