.btn {
    font-size: 1.7rem;
    font-family: 'Wire One', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-decoration: none;
    color: $color-tertiary;
    box-sizing: border-box;

    padding: 2rem 4rem;
    box-shadow: $shadow-light;
    border-radius: 20rem;
    border: none;
    background-color: $color-primary-dark;

    transition: all 0.5s ease-in-out;

    &:hover {
        color: $color-quaternary;
        background-color: $color-primary-light;
        box-shadow: $shadow-dark;
    }
}
