.introduction {
    grid-column: center-start / center-end;
    grid-row: 2 / 3;

    &__text {
        padding: 3rem;
        font-size: 2rem;
        color: $color-quaternary;
        text-align: justify;
    }
    &__button {
        text-align: center;
        padding: 5rem;
    }
}
