$number-list-items: 4;

.summary {
    grid-column: center-start / center-end;
    grid-row: 7 / 8;

    justify-self: center;

    &__content {
        padding: 3rem;
        font-size: 2rem;
        line-height: 4rem;
        font-weight: 400;
        font-style: italic;
        @media only screen and (max-width: $breakpoint-medium) {
            font-size: 1.5rem;
            padding: 2rem;
        }
        @media only screen and (max-width: $breakpoint-smallest) {
            padding: 0.5rem;
        }
    }

    &__icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: $color-primary-dark;
        margin-right: 2rem;
        @include darkMode {
            fill: $color-primary-light;
        }
    }

    li {
        position: relative;
        text-decoration: none;
        list-style: none;
        display: flex;
        align-items: center;
        opacity: 0;
        animation-fill-mode: both;

        &:not(:last-of-type) {
            margin-bottom: 3rem;
        }
    }

    .animate {
        animation: slideFadeIn 0.5s linear forwards;
    }

    //sets delay for each list item (must be longer than previous one)
    @for $i from 2 through $number-list-items {
        li:nth-child(#{$i}) {
            animation-delay: Calc((0.4s * $i) - 0.4s);
        }
    }
}
