.heading-secondary {
    font-weight: 400;
    color: $color-tertiary;
    font-family: 'Lato';
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    animation: fadeIn 2s forwards;
    animation-delay: 2.5s;
    opacity: 0;
}

.heading-tertiary {
    font-family: 'Wire One', sans-serif;
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 3px;
    transition: all 0.4s;
    animation-delay: 0.3s;
    text-shadow: 0 1rem 0.5rem rgba(0, 0, 0, 0.1);

    &::after {
        content: '';
        animation-delay: 0.5s;
        background: #695b94;
        height: 4px;
        width: 7rem;
        display: block;
        margin-top: 3rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: slide-in-right 0.5s forwards;
        animation-delay: 2s;
        opacity: 0;
    }
}

span.highlight {
    //font-weight: bolder;
    background: linear-gradient(
            104deg,
            rgba($color-primary, 0) 0.9%,
            rgba($color-primary, 1.25) 2.4%,
            rgba($color-primary, 0.5) 5.8%,
            rgba($color-primary, 0.1) 93%,
            rgba($color-primary, 0.7) 96%,
            rgba($color-primary, 0) 98%
        ),
        linear-gradient(
            183deg,
            rgba($color-primary, 0) 0%,
            rgba($color-primary, 0.3) 7.9%,
            rgba($color-primary, 0) 15%
        );
    padding: 0.6em 13.7px;
    margin: 0;
    border-radius: 7.5px;
    text-shadow: -12px 12px 9.8px rgba($color-primary, 0.7),
        21px -18.1px 7.3px rgba(255, 255, 255, 1), -18.1px -27.3px 30px rgba(255, 255, 255, 1);
}
