.heading-primary {
    font-size: 3rem;
    font-weight: 600;
    color: $color-quaternary;
    padding:5rem;
}

.heading-secondary {
    font-size: 2rem;
    color: $color-primary-dark;
    font-style: italic;
    padding-left:10rem;
}

